.book-cover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    margin: 20px;
    width: 40vmax;
    margin: 15px auto;
    height: 40vh;
    background-color: whitesmoke;
}
.img{
    width: 40vh;
    height: 40vh;
    float: left
}
.text-container{
    float: right;
    overflow-wrap: break-word;
    width: 40vh;
    padding: 0 7px;
}
.title, .subtitle, .price{
    padding-top: 5px;
    overflow-wrap: break-word;
    text-align: left;
}
.price{
    font-weight: 400;
    float: left;
}

.bigger{
    
    font-size: 1.5rem;
    font-weight: 500;
}

.button{
    float: right;
    margin: 30px 20px 0 0;
}